<configuration scan="true">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%highlight([%level]) %cyan([%d] [%logger{20}] [%thread]) - %msg %n</pattern>
      </encoder>
    </appender>

  <logger name="org.http4s" level="WARN"/>

  <root level="INFO"> 
   <appender-ref ref="STDOUT"/>
    </root>

  </configuration>
